{% extends 'admin/base_site.html' %}
{% block content %}
  <!-- Agrega aquí tu contenido personalizado -->
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Title</title>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <!-- Bootstrap CSS v5.2.1 -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    </head>

    <body>
      <div class="row justify-content-center align-items-center g-2">
        <br />
        <hr />
        <div class="row">
          <!-- Competición -->
          <div class="col-md-3">
            <label for="" class="form-label"><b>Seleccione Competición</b></label>
            <select class="form-select form-select-sm" name="" id="competicionSelect">
              <option value="">--------</option>
            </select>
          </div>
          <!-- ENCUENTROS -->
          <div class="col-md-6">
            <label for="" class="form-label"><b>Seleccione encuentro</b></label>
            <select class="form-select form-select-sm" name="" id="encuentroSelect">
              <option value="">--------</option>
            </select>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <br />
        </div>
        <!-- TABLA EQUIPO 1 -->
        <div class="col-md-6">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" id="nomEquipoLocal"></h4>
                <div id="id_equipoLocal"></div>
                <hr />
                <br />
                <div class="table-responsive-sm">
                  <table id="miTabla_e_l" class="table table-striped table-hover table-borderless table-light align-middle">
                    <thead class="table-primary">
                      <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Alias</th>
                        <th>Sexo</th>
                        <th>CONVOCAR</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr class="table-"></tr>
                    </tbody>
                    <tfoot></tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TABLA EQUIPO 2 -->
        <div class="col-md-6">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" id="equipoVisita"></h4>
                <div id="id_equipoVisita"></div>
                <hr />
                <br />
                <div class="table-responsive-sm">
                  <table id="miTabla_e_v" class="table table-striped table-hover table-borderless table-light align-middle">
                    <thead class="table-primary">
                      <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Alias</th>
                        <th>Sexo</th>
                        <th>CONVOCAR</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr class="table-"></tr>
                    </tbody>
                    <tfoot></tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <!-- TABLA EQUIPO 2 -->
        <div class="row justify-content-center align-items-center g-2">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <button type="button" class="btn btn-primary" id="btnAgregarConvocatoria">Agregar</button>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <b><a href="/admin/modulo_equipo/convocatoria/">Regresar</a></b>
      <hr>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- DataTables -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
      <!-- TABLAS -->
      <script>
        $(document).ready(function () {
          $('#miTabla_e_l').DataTable({
            language: {
              url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
            }
          })
          $('#miTabla_e_v').DataTable({
            language: {
              url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
            }
          })
        })
      </script>
      <!-- cargar competiciones -->
      <script>
        $(document).ready(function () {
          const competicionSelect = $('#competicionSelect')
          $.get('/modulo_competicion/obtener-competiciones/', function (data) {
            data.forEach(function (competicion) {
              competicionSelect.append(
                $('<option>', {
                  value: competicion.id,
                  text: competicion.nombre
                })
              )
            })
          })
        })
      </script>
      <!-- cargar posicion jugador -->
      <script>
        $(document).ready(function () {
          const posSelect = $('#posSelect')
          $.get('/modulo_equipo/obtener-posicion-jugador/', function (data) {
            data.forEach(function (x) {
              posSelect.append(
                $('<option>', {
                  value: x.id,
                  text: x.descripcion // Cambiado 'nombre' a 'descripcion'
                })
              )
            })
          })
        })
      </script>
      <!-- cargar formaciones -->
      <script>
        $(document).ready(function () {
          const formacionSelect = $('#formacionSelect')
          $.get('/modulo_equipo/obtener-formacion/', function (data) {
            data.forEach(function (formacion) {
              formacionSelect.append(
                $('<option>', {
                  value: formacion.id,
                  text: formacion.descripcion
                })
              )
            })
          })
        })
      </script>

      <!-- Agrega el siguiente código JavaScript para manejar la solicitud AJAX y actualizar el select de encuentros -->
      <script>
        $(document).ready(function () {
          const competicionSelect = $('#competicionSelect')
          const encuentroSelect = $('#encuentroSelect')
        
          // Maneja el evento de cambio en el select de competiciones
          competicionSelect.on('change', function () {
            const competicionSeleccionada = $(this).val()
            if (competicionSeleccionada) {
              // Realiza una solicitud AJAX para obtener los encuentros no jugados
              $.get('/modulo_encuentros/obtener-encuentros-no-jugados/', { competicion_id: competicionSeleccionada }, function (data) {
                // Llena el select de encuentros con los resultados de la solicitud AJAX
                encuentroSelect.empty()
                $.each(data, function (index, encuentro) {
                  // Agrega cada encuentro al select
                  encuentroSelect.append(
                    $('<option>', {
                      value: index, // Puedes usar el índice como valor
                      text: encuentro // El texto es la cadena del encuentro
                    })
                  )
                })
              })
            } else {
              // Borra el select de encuentros si no se ha seleccionado una competición
              encuentroSelect.empty()
            }
          })
        })
      </script>

      <script>
        $(document).ready(function () {
          const competicionSelect = $('#competicionSelect')
          const encuentroSelect = $('#encuentroSelect')
          const tablaEquipoLocal = $('#miTabla_e_l')
          const tablaEquipoVisitante = $('#miTabla_e_v')
        
          // Maneja el evento de cambio en el select de competiciones
          competicionSelect.on('change', function () {
            const competicionSeleccionada = $(this).val()
            if (competicionSeleccionada) {
              // Realiza una solicitud AJAX para obtener los encuentros no jugados
              $.get('/modulo_encuentros/obtener-encuentros-no-jugados/', { competicion_id: competicionSeleccionada }, function (data) {
                // Llena el select de encuentros con los resultados de la solicitud AJAX
                encuentroSelect.empty().append('<option value="">Seleccionar Encuentro</option>')
                $.each(data, function (index, encuentro) {
                  encuentroSelect.append(
                    $('<option>', {
                      value: index,
                      text: encuentro
                    })
                  )
                })
              })
            } else {
              // Borra el select de encuentros si no se ha seleccionado una competición
              encuentroSelect.empty().append('<option value="">Seleccionar Competición</option>')
              tablaEquipoLocal.empty()
              tablaEquipoVisitante.empty()
            }
          })
        
          // Maneja el evento de cambio en el select de encuentros
          encuentroSelect.on('change', function () {
            const encuentroSeleccionado = $(this).val()
            const h4local = $('#nomEquipoLocal')
            const h4visita = $('#equipoVisita')
        
            if (encuentroSeleccionado) {
              // Realiza una solicitud AJAX para obtener los jugadores de los equipos
              $.get('/modulo_encuentros/obtener-equipo-encuentro/', { encuentro_id: encuentroSeleccionado }, function (data) {
                llenarNombresEquipos(h4local, h4visita, data)
                ////EQUIPO LOCAL
                const tablaEquipoLocal = $('#miTabla_e_l').find('tbody') // Asegúrate de reemplazar esto con el ID de tu tabla
                const tablaEquipoVisitante = $('#miTabla_e_v').find('tbody') // Asegúrate de reemplazar esto con el ID de tu tabla
                // Realiza una solicitud AJAX para obtener la lista de jugadores cuando el documento está listo
                const id_local = data.id_equipo_loca
                const id_visita = data.id_equipo_visita
                //
                const id_equipo_loca_div = $('#id_equipoLocal')
                const id_equipo_visita_div = $('#id_equipoVisita')
                id_equipo_loca_div.text(id_local)
                id_equipo_visita_div.text(id_visita)
                $.get('/modulo_encuentros/obtener-listado-jugadores-contratados-2/', { equipo_id: id_local }, function (data1) {
                  // Llena la tabla con los datos de jugadores
                  llenarTablaJugadores(tablaEquipoLocal, data1)
                })
                ///////////
        
                $.get('/modulo_encuentros/obtener-listado-jugadores-contratados-2/', { equipo_id: id_visita }, function (data2) {
                  // Llena la tabla con los datos de jugadores
                  llenarTablaJugadores(tablaEquipoVisitante, data2)
                })
              })
            } else {
              // Borra las tablas si no se ha seleccionado un encuentro
            }
          })
          //LLENAR EQUIPOS
          function llenarNombresEquipos(h4local, h4visita, datos) {
            // Asegúrate de que los datos contengan los nombres de los equipos local y visitante
            if (datos.equipo_local && datos.equipo_visitante) {
              h4local.text(datos.equipo_local)
              h4visita.text(datos.equipo_visitante)
            }
          }
        
          function llenarTablaJugadores(tabla, jugadores) {
            // Limpia la tabla
            tabla.empty()
        
            // Itera sobre los datos de jugadores y agrega filas a la tabla
            jugadores.forEach(function (jugador) {
              const fila = $('<tr>')
              fila.append($('<td>', { text: jugador.id }))
              fila.append($('<td>', { text: jugador.nombres }))
              fila.append($('<td>', { text: jugador.apellidos }))
              fila.append($('<td>', { text: jugador.alias }))
              fila.append($('<td>', { text: jugador.sexo }))
              // Agrega la casilla de verificación
              const checkboxCell = $('<td>')
              const checkbox = $('<input>', { type: 'checkbox', value: 'True' })
              const label = $('<label>', { class: 'form-check-label', for: '' }).text('SI')
              checkboxCell.append(checkbox, label)
              fila.append(checkboxCell)
              // Agrega más columnas según tus necesidades
              tabla.append(fila)
            })
          }
        })
      </script>

      <script>
        $(document).ready(function () {
          $('button.btn-primary').on('click', function () {
            const idLocal_ = document.getElementById('id_equipoLocal').textContent
            const idVisita_ = document.getElementById('id_equipoVisita').textContent
            console.log('ID del equipo local:', idVisita_)
            //
            const jugadoresSeleccionadosLocal = obtenerJugadoresSeleccionados('miTabla_e_l')
            const jugadoresSeleccionadosVisita = obtenerJugadoresSeleccionados('miTabla_e_v')
        
            //
            const encuentroSeleccionado = $('#encuentroSelect').val()
        
            // Luego, envía estos valores con la solicitud AJAX
        
            if (jugadoresSeleccionadosLocal.length > 0 || jugadoresSeleccionadosVisita.length > 0) {
              $.ajax({
                type: 'POST',
                url: '/modulo_encuentros/agregar-convocatoria-equipos/',
                data: {
                  jugadoresSeleccionadosLocal: jugadoresSeleccionadosLocal,
                  jugadoresSeleccionadosVisita: jugadoresSeleccionadosVisita,
                  encuentroSeleccionado: encuentroSeleccionado,
                  idLocal: idLocal_,
                  idVisita: idVisita_,
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                  if (data.success) {
                    alert('Convocatoria agregada con éxito')
                  } else {
                    alert('Error al agregar la convocatoria')
                  }
                }
              })
            } else {
              alert('Selecciona al menos un jugador para la convocatoria')
            }
          })
        
          function obtenerJugadoresSeleccionados(tablaId) {
            const jugadoresSeleccionados = []
            $(`#${tablaId} tbody tr`).each(function () {
              const jugadorId = $(this).find('td:first').text() // Obtén el valor de la primera columna (ID del jugador)
              jugadoresSeleccionados.push(jugadorId)
            })
            return jugadoresSeleccionados
          }
        })
      </script>
    </body>
  </html>
{% endblock %}
